@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

.header {
  background: rgba(57, 56, 63, 0.5);
  height: 77px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  font-family: "Montserrat";
  z-index: 2;
  ul {
    display: flex;
    justify-content: space-around;
  }
  ul > li {
    list-style: none;
  }
  li > a {
    text-decoration: none;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;

    color: #f4f3e3;
  }
  .header_container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    .hedaer_link {
      margin-right: 44px;
    }
    .hedaer_link:last-child {
      margin-right: 0;
    }

    .burger {
      display: none;
    }
    @media (width <= 690px) {
      .burger {
        display: flex !important;
        z-index: 10000;
      }

      label {
        display: flex;
        flex-direction: column;
        width: 70px;
        cursor: pointer;
      }

      label span {
        background: #fff;
        border-radius: 10px;
        height: 5px;
        margin: 7px 0;
        transition: 0.4s cubic-bezier(0.68, -0.6, 0.32, 1.6);
      }

      span:nth-of-type(1) {
        width: 40%;
      }

      span:nth-of-type(2) {
        width: 80%;
      }

      span:nth-of-type(3) {
        width: 55%;
      }

      input[type="checkbox"] {
        display: none;
      }

      input[type="checkbox"]:checked ~ span:nth-of-type(1) {
        transform-origin: bottom;
        transform: rotatez(45deg) translate(10px, 3px);
        width: 50%;
      }

      input[type="checkbox"]:checked ~ span:nth-of-type(2) {
        transform-origin: top;
        transform: rotatez(-45deg);
        width: 90%;
      }

      input[type="checkbox"]:checked ~ span:nth-of-type(3) {
        transform-origin: bottom;
        width: 45%;
        transform: translate(28px, -7px) rotatez(45deg);
      }

      .header_item {
        display: none;
      }
    }
  }
}
