@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

.main{
    font-family: "Montserrat";
    min-height: 100vh;
    background: #EEEEED;
    padding: 100px 0 100px 0;
    .title{
        text-align: center;
        font-weight: 500;
        font-size: 50px;
        color: rgba(57, 56, 63, 0.8);
        font-family: 'Bahnschrift';
    }
    main{
        display: flex;
        margin-top: 50px;
        .main__yard{
            width: 30%;
            background: rgba(57, 56, 63, 0.8);
            box-shadow: 0px 0px 20px #C8B552;
            border-radius: 20px;
            padding: 40px 24px 40px 24px;
            h2{
                font-weight: 700;
                font-size: 25px;
                text-align: center;
                color: #C8B552;
            }
            .main__yard__text{
                padding-top: 40px;
                color: white;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                height: 80%;
                font-weight: 600;
                font-size: 15px;
                gap: 20px;
                line-height: 20px;
            }
        }
    }
}

@media screen and (min-width: 0px) and (max-width: 425px){
    .main{
        padding: 50px 0 50px 0;
        .title{
            font-size: 23px;
        }
        main{
            flex-direction: column;
            .main__yard{
                width: 100%;
                margin: 50px 0 50px 0;
                h2{
                    font-size: 19px;
                }
                .main__yard__text{
                    gap: 25px;
                    font-size: 20px;
                    line-height: 30px;
                }
            }
        }
    }
}

@media screen and (min-width: 426px) and (max-width: 700px){
    .main{
        padding: 30px 0 50px 0;
        .title{
            font-size: 30px;
        }
        main{
            padding-top: 30px;
            flex-direction: column;
            .main__yard{
                width: 100%;
                margin: 30px 0 50px 0;
                h2{
                    font-size: 28px;
                }
                .main__yard__text{
                    gap: 20px;
                    font-size: 15px;
                    line-height: 20px;
                }
            }
        }
    }
}

@media screen and (min-width: 701px) and (max-width: 800px){
    .main{
        padding: 10px 0 50px 0;
        .title{
            font-size: 50px;
            padding-top: 50px;
        }
        main{
            padding-top: 40px;
            .main__yard{
                width: 30%;
                margin: 0 20px 50px 0;
                h2{
                    font-size: 14px;
                }
                .main__yard__text{
                    gap: 20px;
                    font-size: 13px;
                    line-height: 20px;
                }
            }
        }
    }
}

@media screen and (min-width: 801px) and (max-width: 1024px){
    .main{
        .title{
            font-size: 50px;
            padding-top: 50px;
        }
        main{
            padding-top: 40px;
            .main__yard{
                width: 30%;
                margin: 0 20px 50px 0;
                h2{
                    font-size: 17px;
                }
                .main__yard__text{
                    gap: 20px;
                    font-size: 15px;
                    line-height: 20px;
                }
            }
        }
    }
}

@media screen and (min-width: 1025px) and (max-width: 1440px){
    .main__yard{
    h2{
        font-weight: 700;
        font-size: 22px;
        text-align: center;
        color: #C8B552;
    }
    .main__yard__text{
        padding-top: 40px;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 80%;
        font-weight: 600;
        font-size: 15px;
        gap: 20px;
        line-height: 20px;
    }
}
}