.container {
  display: flex;
  flex-direction: column;
  max-width: 1440px;
  margin: 0 auto;
  margin-bottom: 48px;
  padding: 100px 100px 0px 100px;
  .content {
    h1 {
      font-family: "Sweet Mavka Script";
      font-style: normal;
      font-weight: 500;
      font-size: 50px;
      line-height: 73px;
      text-align: center;
      color: rgba(57, 56, 63, 0.8);
      margin-bottom: 50px;
    }
    .map {
      display: flex;
      .iframe {
        filter: drop-shadow(0px 0px 20px #c8b552);
        border-radius: 20px;
        width: 1184px;
        margin: 0 auto;
        height: 208px;
        border: none;
      }
    }
    p{
      margin-top: 20px;
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      line-height: 24px;
      text-align: center;
      color: rgba(57, 56, 63, 0.8);
    }
  }
}

@media screen and (min-width: 0px) and (max-width: 550px) {
  .container{
    padding: 0 20px 0 20px;
  .content{
    h1{
      font-size: 40px;
    }
  }
  .map{
    .iframe{
      width: 100% !important;
    }
  }
  }
}

@media screen and (min-width: 551px) and (max-width: 1440px){
  .container{
    padding: 0px 100px 50px 100px !important;
  }
}
