.main__yard{
    width: 30%;
    background: rgba(57, 56, 63, 0.8);
    box-shadow: 0px 0px 20px #C8B552;
    border-radius: 20px;
    padding: 40px 24px 24px 40px;
    h2{
        font-weight: 700;
        font-size: 25px;
        text-align: center;
        color: #C8B552;
    }
    .main__yard__text{
        padding-top: 40px;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 80%;
        font-weight: 600;
        font-size: 15px;
    }
}