.footer {
  width: 100%;
  background: rgba(57, 56, 63, 0.8);
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  padding-top: 35px;
  padding-bottom: 30px;
  margin-top: 60px;
  hr {
    border: 1.5px solid #c8b552;
  }
  .footer_info {
    display: flex;
    justify-content: space-between;
    .footer_item {
      .footer_img {
        margin-left: 25px;
      }
      p {
        margin-left: 25px;
        font-family: "";
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        line-height: 18px;
        width: 228px;
        color: #f4f3e3;
        margin-top: 17px;
      }
      .title_footer {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 800;
        font-size: 25px;
        line-height: 30px;
        color: #f4f3e3;
        margin-bottom: 17px;
      }
      hr {
        margin-bottom: 28px;
        width: 204px;
      }
      .h4 {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 800;
        font-size: 25px;
        line-height: 30px;
        color: #f4f3e3;
      }
      li {
        list-style: none;
        margin-bottom: 6px;
      }
      .li:last-child {
        margin-bottom: 0;
      }
      a {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        text-decoration: none;
        color: #f4f3e3;
      }
    }
    .ellipse_blocks {
      display: flex;
      width: 165px;
      margin-top: 20px;
      justify-content: space-between;
    }
    .ellipse {
      padding-top: 2px;
      padding-left: 5px;
      padding-right: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 33px;
      height: 33px;
      background: #c8b552;
      border-radius: 20px;
    }

    @media (width <= 700px) {
      flex-direction: column;
      align-items: center;
      gap: 32px;
    }
  }
  .unis {
    margin-top: 23px;
    margin-bottom: 16px;
  }
  .contact_footer {
    width: 50%;
    margin: 0 auto;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #f4f3e3;
    text-align: center;
  }
}
