@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
.main{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Montserrat";
    
    .main__background{
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 0;
        img{
            width: 100%;
            height: 100%;
        }
    }
    .main__background_opacity{
        background-color: black;
        position: absolute;
        opacity: 0.7;
        width: 100%;
        height: 100%;
        z-index: 1;
    }
    .main__blocks{
        position: relative;
        z-index: 1;
        margin-top: 83px;
        margin-bottom: 100px;
        color: #F4F3E3;
        height: 520px;
        width: 520px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        h3{
            font-size: 15px;
            min-width: 205px;
        }
        nav, aside{
            position: absolute;
            animation-duration: 1.5s;
            animation-fill-mode: forwards;
            display: flex;
            gap: 13px;
            align-items: center;
            visibility: hidden;
        }
        aside{
            text-align: end;
            flex-direction: row-reverse;
            }
         .main__blocks__block:nth-child(2){
            animation-name: load1;
        }
        .main__blocks__block:nth-child(3){
            animation-name: load2;
            animation-delay: 1s;
        }
        .main__blocks__block:nth-child(4){
            animation-name: load3;
            animation-delay: 2s;
        }
        .main__blocks__block:nth-child(5){
            animation-name: load4;
            animation-delay: 3s;
        }
        .main__blocks__block:nth-child(6){
            animation-name: load5;
            animation-delay: 4s;
        }
        .main__blocks__block:nth-child(7){
            animation-name: load6;
            animation-delay: 5s;
        }
        .main__blocks__block:nth-child(8){
            animation-name: load7;
            animation-delay: 6s;
        }
        .main__blocks__block:nth-child(9){
            animation-name: load8;
            animation-delay: 7s;
        }
        .main__blocks__block:nth-child(10){
            animation-name: load9;
            animation-delay: 8s;
        }
        .main__blocks__block:nth-child(11){
            animation-name: load10;
            animation-delay: 9s;
        }
    }
}

@keyframes load1{
    0%{
        visibility: hidden;
        bottom: 45%;
        left: 45%;
    }
    100%{
        bottom: 90%;
        left: 60%;
        visibility: visible;
    }
}

@keyframes load2{
    50%{
        visibility: hidden;
        bottom: 90%;
        left: 60%;
    }
    100%{
        visibility: visible;
        bottom: 70%;
        left: 85%;
    }
}

@keyframes load3{
    50%{
        visibility: hidden;
        bottom: 70%;
        left: 85%;
    }
    100%{
        bottom: 45%;
        left: 95%;
        visibility: visible;
    }

}

@keyframes load4{
    50%{
        visibility: hidden;
        bottom: 45%;
        left: 95%;
    }
    100%{
        left: 85%;
        bottom: 20%;
        visibility: visible;
    }
}


@keyframes load5{
    50%{
        visibility: hidden;
        left: 85%;
        bottom: 20%;
    }
    100%{
        left: 60%;
        bottom: 0;
        visibility: visible;
    }
}

@keyframes load6{
    50%{
        visibility: hidden;
        right: 28%;
        bottom: 0;
    }
    100%{
        right: 60%;
        bottom: 0;
        visibility: visible;
    }
}

@keyframes load7{
    50%{
        visibility: hidden;
        right: 60%;
        bottom: 0;
    }
    100%{
        right: 85%;
        bottom: 20%;
        visibility: visible;
    }
}

@keyframes load8{
    50%{
        visibility: hidden;
        right: 85%;
        bottom: 20%;
    }
    100%{
        bottom: 45%;
        right: 95%;
        visibility: visible;
    }
}

@keyframes load9{
    50%{
        visibility: hidden;
        bottom: 45%;
        right: 95%;
    }
    100%{
        bottom: 70%;
        right: 85%;
        visibility: visible;
    }
}

@keyframes load10{
    50%{
        visibility: hidden;
        bottom: 70%;
        right: 85%;
    }
    100%{
        bottom: 90%;
        right: 60%;
        visibility: visible;
    }
}