.royal_service {
  position: relative;
  .royalService {
    overflow: hidden;
    height: 729px;
    background: url("../../public/second.png") no-repeat;
    background-size: cover;
  }
  .bc_service {
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }
  .royal_logo {
    margin: 0 auto;
    margin-top: 104px;
    width: 282px;
  }
  .royal_service_content {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    margin-top: 101px;
    display: flex;
    justify-content: space-between;
    .content_item {
      transition: all .5s ease;
      width: 280px;
      height: 163px;
      border: 2px solid #c8b552;
      border-radius: 20px;
      .content_img0 {
        margin-top: 27px;
        margin-left: 78px;
      }
      .content_img1 {
        margin-top: 19px;
        margin-left: 100px;
      }
      .content_img2 {
        margin-top: 27px;
        margin-left: 106px;
      }
      p {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 700;
        font-size: 15px;
        line-height: 18px;
        width: 248px;
        height: 36px;
        margin: 0 auto;
        margin-top: 11px;
        text-align: center;
        color: #c8b552;
      }
    }
    .content_item:hover {
      transform: translateY(-35px);
    }
  }
}
